* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: bold;
  color: inherit;
}

html,body {
  position: relative;
  height: 100%;
}

.wrap {
  position: fixed;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  line-height: 1.5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}